<% if object.errors.any? %>
    <div id="error_explanation">
      <h2>Uh oh! There are <%= pluralize(object.errors.count, "error") %>, doofus!</h2>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>